:root{
	--logo-margin-bottom: 38px;
	--logo-margin-top: 48px;
	--logo-height: 200px;
}
html{
	overflow:  hidden;
}
body{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	margin-left:0.4px;
	margin-right:0.4px;
	margin-bottom: 0;
	margin-top: 0;
}
#head{
	position: absolute;
	min-height: 64px;
	min-width: 100%;
}
#content{
	display: flex;
	flex-direction: column;
	width: 624;
	position: relative;
}
#logoplace{
	position: absolute;
	min-height: calc(var(--logo-height) + var(--logo-margin-bottom));
	min-width: 100%;
	margin-top: var(--logo-margin-top);
	margin-right: 0.4px;
	margin-left: 0.4px;
}
#logo{
	position: absolute;
	width: 272px;
	height: 92px;
	left: calc(50% - 272px/2);
	bottom: var(--logo-margin-bottom);
}
#enterbut{
	position: absolute;
	right: 30px;
	top: 16px;
	min-height: 28px;
	min-width:40px;
	background: #4585F2;
	text-align: center;
	border: 1px solid #4285f4;
	display: inline-block;
    line-height: 28px;
    padding: 0 12px;
}
#but{
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	font-family: arial,sans-serif;
	font-weight: bold;
}
#squares{
	position:absolute;
	right: 110px;
	top: 16px;
	min-width: 30px;
	min-height: 30px;
	background-image: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
	background-size: 528px 68px;
	background-position: -132px -38px;
	opacity: .55;
	padding: 1 0;
}
#sqs{
	position:absolute;
	min-height:30px;
	min-width: 30px;
}
#pics{
	position: absolute;
	right: 210px;
	top: 20px;
}
#picshref{
	position: absolute;
	color: rgba(0,0,0,0.87);
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	display: inline-block;
    line-height: 24px;
	font-family: arial,sans-serif;
}
#post{
	position: absolute;
	right: 260px;
	top: 20px;
}
#posthref{
	position: absolute;
	color: rgba(0,0,0,0.87);
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	display: inline-block;
    line-height: 24px;
	font-family: arial,sans-serif;
}
#search{
	position:absolute;
	height: 45px;
	min-width: 582px;
	flex: 1;
    display: flex;
	border: 1px solid #D8D9DA;
	top: 275px;
	left: calc(50% - 582px/2);
	border-radius: 25px;
}
#magnifier{
	position: absolute;
	height: 20px;
	width: 20px;
	left: 15px;
	top: 12px;
	opacity: .40;
}
#mic{
	position: absolute;
	height: 24px;
	width: 24px;
	right: 18px;
	top: 12px;
}
#kb{
	position: absolute;
	background-image: url(https://www.gstatic.com/inputtools/images/tia.png);
    min-height: 11px;
    min-width: 19px;
	right: 62px;
	top: 17px;
}
#searchbut{
	position: absolute;
	min-height: 34px;
	min-width: 54px;
	background-color:#F2F2F2;
	text-align: center;
	border: 2px;
	top:340px;
	left:calc(50% - 135px);
	font-family: arial,sans-serif;
	font-size: 14px;
	line-height: 36px;
	color: #5F6368;
	margin: 11px 4px;
    padding: 0 16px;
}
#luckbut{
	position: absolute;
	min-height: 34px;
	min-width: 54px;
	background-color:#F2F2F2;
	text-align: center;
	border: 2px;
	top:340px;
	right:calc(50% - 135px);
	font-family: arial,sans-serif;
	font-size: 14px;
	line-height: 36px;
	color: #5F6368;
	margin: 11px 4px;
    padding: 0 16px;
}
#botplace{
	position: absolute;
	background-color: #F2F2F2;
	min-width: 100%;
	min-height: 82px;
	bottom:0px;
}
#country{
	color: rgba(0,0,0,.54);
	position: absolute;
	left: 30px;
	line-height: 42px; 
	font-family: arial,sans-serif;
	font-size: 15px;
}
#botline{
	position: absolute;
	background-color: #F2F2F2;
	bottom:0px;
	border-top: 1px solid #CCE4F7;
	min-height: 40px;
	min-width: 100%;
}
#adv{
	position: absolute;
	color: #5F6368;
	font-family: arial,sans-serif;
	font-size: 14px;
	line-height: 40px;
	left: 30px;
	text-decoration: none;
}
#busines{
	position: absolute;
	color: #5F6368;
	font-family: arial,sans-serif;
	font-size: 14px;
	line-height: 40px;
	left: 115px;
	text-decoration: none;
}
#aboutgoogle{
	position: absolute;
	color: #5F6368;
	font-family: arial,sans-serif;
	font-size: 14px;
	line-height: 40px;
	left: 225px;
	text-decoration: none;
}
#hwgs{
	position: absolute;
	color: #5F6368;
	font-family: arial,sans-serif;
	font-size: 14px;
	line-height: 40px;
	left: 330px;
	text-decoration: none;
}
#conf{
	position: absolute;
	color: #5F6368;
	font-family: arial,sans-serif;
	font-size: 14px;
	line-height: 40px;
	right: 205px;
	text-decoration: none;
}
#terms{
	position: absolute;
	color: #5F6368;
	font-family: arial,sans-serif;
	font-size: 14px;
	line-height: 40px;
	right: 125px;
	text-decoration: none;
}
#ops{
	position: absolute;
	color: #5F6368;
	font-family: arial,sans-serif;
	font-size: 14px;
	line-height: 40px;
	right: 30px;
	text-decoration: none;
}