body{
	background-color: #F9B930;
	width:100%;
	min-height:100%;
	margin: 0px;
	font-family:pf_din_text_cond;
	display:flex;
	flex-direction:column;
	justify-content:spa;
	align-items:center;
}
#mainContent{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
@font-face {
    font-family: 'mc icons';
    src:  url('/fonts/spa/mc-icons.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'pf_din_text_cond';
    src: url('pfdintextcondpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.fontOptions{
	font-family:pf_din_text_cond;
	text-transform:uppercase;
	color:black;
	text-decoration: none;
	text-align: center;
	font-stretch: extra-condensed;
}
#header{
	position:fixed;
	width:100%;
	height:80px;
	background-color:white;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	z-index: 10;
}
#headerLeftContent{
	display:flex;
	flex-direction: row;
}
#logoImage{
	background-color: #C7161E;
	padding: 14px;
}
#headerLogoImage{
	width:54px;
	height:52px;
}
#headerLeftHrefs{
	display: flex;
	flex-direction: row;
	align-items:center;
	margin-left: 20px;
}
.headerHref{
	font-size:18px;
	font-weight:700;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 15px;
	padding-top: 15px; 
	line-height:25.2px;
	text-transform:uppercase;
	color:black;
	text-decoration: none;
	text-align: center;
}
#headerRightContent{
	display: flex;
	flex-direction: row;
	align-items:center;
	margin-right: 50px;
}
#callDiv{
	display:flex;
	flex-direction: row;
	align-items: center;
	font-stretch: extra-condensed;
	font-family: pf_din_text_cond;
}
#callButton{
	padding: 9px 20px;
    margin-bottom: 0;
    border: 1px solid white;
    background-color:white;
    height:27px;
    box-sizing:content-box;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:18px;
	font-stretch:100%;
	font-style:normal;
}
.smallIcon:before{
	content: '\004c';
	display: inline-block;
    font-family: 'mc-icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-style:normal;
	font-weight:400;
	height:12px;
	line-height:12px;
	font-size: 12px;
	padding-left: 15px;
}
.btnClass{
	border: 2px solid black;
	height:24.8px;
	padding: 9px 20px;
	box-sizing: content-box;
	font-size: 18px;
	font-weight: 700;
	text-transform:uppercase;
	font-family: pf_din_text_cond;
}
#createForm{
	background-color: #F9B930;
	font-family: pf_din_text_cond;
	width: 150.438px;
	font-size:18px;
	font-stretch:100%;
	font-weight: 700;
}
.video-bg-wrap{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
    margin-top: 80px;
}
.video-bg-wrap_video {
    position: relative;
    transform: none;
    width: 100%;
    height: auto;
    min-height: initial;
}
#content{
	width: 1120px;
	height:100%;
}
#sectionVacancy{
	padding-top: 60px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	width:1080px;
	height:642px;
}
#vacancyHeader{
	font-size: 44px;
	font-weight: 700;
	width:1024px;
	padding-bottom: 50px;
	letter-spacing: 2.2px;
}
.vacancyDiv{
	width:1000px;
	border-bottom: 0.5px solid black;
	padding:40px;
	height:24.8px;
	font-size:28px;
	font-weight:700;
	text-align: left;
	letter-spacing:1.2px;
	line-height:25.2px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}
.plus:before{
	content: '\0049';
	font-family: 'mc-icons';
	font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 21px;
}
#friendWithCareer{
	position:absolute;
	right: 20px;
	z-index:2;
	top:40px;
}
#heart{
	position:absolute;
	top: -20px;
	right: -65px;
	z-index:1;
}
#sectionTitle{
	width:1040px;
	height:584px;
	padding-left:20px;
	padding-right:20px;
	margin-top: 80px;
}
#mainTitle{
	width:1040px;
	height:584.5px;
}
#mainTitleText{
	font-size: 44px;
	font-weight: 700;
	text-align: left;
	letter-spacing: 2.2px;
	padding-bottom: 70px;
}
#mainTitleTextContent{
	width: 1040px;
	height: 392.5px;
	background: white;
	padding: 20px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.leftSlider:before{
	content: '\0045';
    display: inline-block;
    font-family: 'mc-icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 20px;
    padding-bottom:50px;
}
.rightSlider:before{
	content: '\0046';
    display: inline-block;
    font-family: 'mc-icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 20px;
    padding-bottom:50px;
}
#videoContainer{
	padding:20px;
	width:960px;
	height:392px;
}
#video{
	margin-bottom: 10px;
}
#pointsDiv{
	width:960px;
	height:20px;
	display: flex;
	flex-direction:row;
	justify-content:center;
}
.point:before{
	font-family: 'slick';
    font-size: 24px;
    line-height: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
}
#leftPoint{
	padding-right:15px;
}
#rightPoint{
	padding-left:15px;
	color:grey;
}
#benefits{
	width:1080px;
	height:736px;
	margin:20px;
	margin-top: 30px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
	position: relative;
}
.benefit{
	width: 180px;
	height:253px;
	padding:30px;
	background-color:white;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
}
.benefit-image{
	width:90px;
	height:123.4;
	padding-top:40px; 
}
.circle{
	width:90px;
	height: 90px;
	border-radius: 50%;
	background-color: #ffcc4e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefit-img{
	filter: grayscale(100%);
}
.benefit-text{
	font-family: pf_din_text_cond;
    text-transform: uppercase;
    font-size:18px;
	font-weight:700;
	letter-spacing:0.9px;
	line-height:25.2px;
	text-align: left;
	vertical-align:bottom;
}
#schoolContainer{
	width:1080px;
	height:713px;
	padding-left:20px;
	padding-right: 20px;
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
}
#schoolText{
	position: absolute;
	padding-top: 20px;
	width:1080px;
	height:109px;
	font-size:44px;
	font-weight:700;
	letter-spacing:2.2px;
	line-height:39.6px;
	text-align: left;
	display: flex;
	text-align:center;
}
#schoolBtnDiv{
	width:1080px;
	height:149px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	padding-left: 20px;
	margin-top: 80px;
}
#schoolBtn{
	background: #db0008;
    border: 2px solid #db0008;
    color: #fff;
    box-shadow: none;
    margin-bottom: 5px;
    font-family: pf_din_text_cond, sans-serif;
    padding: 13px 40px;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.05em;
}
#map{
	display: block;
	width:100%;
	min-height:600px;
	margin-top: 70px;
}
#footerDiv{
	width:100%;
	height:200px;
	display: flex;
	justify-content:center;
	align-items:center;
}
#footer{
	width:1090px;
	height:50px;
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
#copyright{
	display:flex;
	flex-direction:row;
}
#macText{
	font-size:15px;
	font-weight:400;
	height:24.8px;
	line-height:25.2px;
	padding-right:30px;
	text-align:left;
	font-family: 'Noah', sans-serif;
}
#info{
	background-color:rgba(0, 0, 0, 0);
	box-sizing:border-box;
	color:rgb(255, 255, 255);
	cursor:pointer;
	display:block;
	font-family:Noah, sans-serif;
	font-size:16px;
	font-weight:400;
	height:24.8px;
	line-height:25.2px;
	text-align:left;
}
#media{
	display:flex;
	flex-direction:row;
	align-items:center;
}
#share{
	font-size:15px;
	font-weight:400;
	height:24.8px;
	line-height:25.2px;
	padding-right:30px;
	text-align:left;
	font-family: 'Noah', sans-serif;
}
#socialNetworks{
	display: flex;
	flex-direction:row; 
	justify-content:space-between;
	width:318.25px;
}
.socialCircle{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.43);
	display: flex;
	justify-content:center;
	align-items:center;
	text-decoration: none;
}
.socialCircleContent{
	display:inline-block;
	font-style:normal;
	font-weight:400;
	height:20px;
	line-height:20px;
}
.fb:before{
	content: '\0050';
	font-family:"mc-icons";
	text-decoration: none;
	color: rgba(255, 255, 255, 0.63);
	font-size: 20px;
}
.vk:before{
	content: '\0051';
	font-family:"mc-icons";
	text-decoration: none;
	color: rgba(255, 255, 255, 0.63);
	font-size: 20px;
}
.ok:before{
	content: '\0052';
	font-family:"mc-icons";
	text-decoration: none;
	color: rgba(255, 255, 255, 0.63);
	font-size: 20px;
}
.tw:before{
	content: '\0053';
	font-family:"mc-icons";
	text-decoration: none;
	color: rgba(255, 255, 255, 0.63);
	font-size: 20px;
}
.gm:before{
	content: '\0054';
	font-family:"mc-icons";
	text-decoration: none;
	color: rgba(255, 255, 255, 0.63);
	font-size: 20px;
}
.ma:before{
	content: '\0055';
	font-family:"mc-icons";
	text-decoration: none;
	color: rgba(255, 255, 255, 0.63);
	font-size: 20px;
}
.thumb{
	width:190px;
	height:206px;
}
#first{
	position: absolute;
	top:calc(50% - 44px);
	left:-175px;
}
#second{
	position: absolute;
	left:-195px;
	top:calc(50% - 59px);
}
#getMoreMoney{
	width:138px;
	height:112px;
	position: absolute;
	right:220px;
	top:1685px;
	z-index: 3;
}
#star{
	width:230px;
	height:245px;
	position: absolute;
	right:135px;
	top:1685px;
	z-index: 2;
}
#lider{
	width:242px;
	height:109px;
	position: absolute;
	right:173px;
	top:3107px;
}
#work{
	position: absolute;
	right:213px;
	top:3897px;
	z-index: 3;
}
#bac{
	position: absolute;
	right:118px;
	top:3867px;
	z-index: 2;
}

